body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 200;
}

#dropdown-container {
    display: flex;
    justify-content: center;
}

.select {
    margin-right: 10px;
}

#canvas-container {
    height: 600px;
    width: 600px;
    margin: 10px auto;
}